<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-grid">
        <header>
            <nav>
                <a href="/" {{style_main}}>Главная</a>
                <a href="/curses" {{style_curses}}>Курсы</a>
                <a href="/listener" id="button-listener" {{style_listener}}>Слушатели</a>
            </nav>
        </header>
        <!--Сюда добавлять кнопки для переключения таблиц-->
        <div class="nav-tabs">
            <div class="tables">
                {%include list%}
            </div>
            <!--Прижимает кнопку отчётов к нижней части навигации-->
            <div class="nav-tabs-button">
                <div id="view-reports" class="list-reports">
                    {%include report%}
                </div>
                <button id="reports" onclick="show_report()">
                    Отчёты
                    <img id="arrow" src="/static/img/icon-arrow.svg" alt="#">
                </button>
            </div>
        </div>
        {% if view is defined %}
            {% include view %}
        {% endif %}
    </div>
    <!-- Контекстное меню -->
    <div id="contextMenu" style="display:none; position:absolute; background-color:white; border:1px solid #ccc; z-index:1000;">
        <ul style="list-style:none; margin:0; padding:10px; color: black">
            <li><a href="#" id="editRow">Редактировать</a></li>
            <li><a href="#" id="deleteRow">Удалить</a></li>
        </ul>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>