<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Центр обучения профессионалов</title>
</head>

<body>
    <div class="main-grid">
        <header>
            <nav>
                <a href="/index.html">Главная</a>
                <a href="/templates/curses.html" style="background-color: #EAAC25;">Курсы</a>
                <a href="/templates/listener.html" id="button-listener">Слушатели</a>
            </nav>
        </header>
        <!--Сюда добавлять кнопки для переключения таблиц-->
        <div class="nav-tabs">
            <div class="tables">
                <a href="#">
                    <img src="/static/img/icon-curses.svg" alt="#">
                    Курсы
                </a>
                <a href="#">
                    <img src="/static/img/icon-requirements.svg" alt="#">
                    Требования к курсам
                </a>
            </div>
            <!--Прижимает кнопку отчётов к нижней части навигации-->
            <div class="nav-tabs-button">
                <div id="view-reports" class="list-reports">
                    <button>
                        Проводимые курсы
                    </button>
                </div>
                <button id="reports" onclick="show_report()">
                    Отчёты
                    <img id="arrow" src="/static/img/icon-arrow.svg" alt="#">
                </button>
            </div>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>