<a href="/curses/curses_table" {% if style_curses_tabel is defined %}
                                    {{style_curses_tabel}}
        {% endif %}>
    <img src="/static/img/icon-curses.svg" alt="#">
    Курсы
</a>
<a href="/curses/requirements_tabel"  {% if style_requirements_tabel is defined %}
                                        {{style_requirements_tabel}}
                                    {% endif %}>
    <img src="/static/img/icon-requirements.svg" alt="#">
    Требования к курсам
</a>